/* add font google sans */
@font-face {
    font-family: regular;
    src: url(../Resource/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: medium;
    src: url(../Resource/font/GoogleSans-Medium.otf);
}

@font-face {
    font-family: bold;
    src: url(../Resource/font/GoogleSans-Bold.otf);
}

* {
    font-family: regular;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 20px;
    color: #000000;
    font-family: bold;
}

.title2 {
    font-size: 15px;
    color: #000000;
    font-family: bold;
}

/* css side left  */

.left-bar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 200px;
    border-right: 2px solid #E5E5E5;
}

.toggle-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.top-left-menu {
    padding-top: 12px;
    padding-bottom: 12px;
}

.list-menu {
    padding-left: 0px;
}

.menu-item {
    height: 44px;
    background-color: #ffffff;
    color: #454545;
    font-size: 13px;
    padding: 12px 0 12px 10px;
    margin-right: 0px !important;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.active {
    background-color: #019160;
    color: #ffffff;
    font-family: medium;
}
.icon {
    font-size: 20px;
    padding-right: 10px;
}

/* css right content  */
.right-content{
    margin-left: 185px;
    width: 100%;    
}
.top-right {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
}
select.title2 {
    margin: 0 10px 0 24px;
    border: none;
}
select.title2:focus {
    outline: none;
}
.search-box option {
    height: 40px;
}
.user-top {
    margin-left: auto;
    margin-right: 0px;
    float: right;
}

.button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
}

.main-content {
    padding: 16px;
    background-color: #E9EBEE;
}
/* css input  */
.search-box {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdeff;
}

.search-box input {
    border: none;
    padding: 8px;
    width: 250px;
}
.search-box input:focus {
    outline: none;  
}

::placeholder {
    color: #bbbbbb;
    opacity: 1; /* Firefox */
    font-size: 12px;
}
.search-box input:focus::-webkit-input-placeholder  {color:transparent;}
.search-box input:focus::-moz-placeholder   {color:transparent;}
.search-box input:-moz-placeholder   {color:transparent;}

.search-box img {
    margin-left: 16px;
}
.refresh {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdeff;
    padding: 8px;
    cursor: pointer;
}

.search-form {
    margin-top: 15px;
}
/* css custom select  */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-items: center;
}
.table {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

/* paging css */
.pageable {
    width: 100%;
    justify-content: space-between;
    background-color: #E9EBEE;
}
.page {
    margin-left: auto;
    margin-right: auto;
}

.pageNum {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

.pageNum:hover , .changePage:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: transparent;
}

.changePage {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
