/* add font google sans */
@font-face {
    font-family: regular;
    src: url(../Resource/font/GoogleSans-Regular.otf);
}

@font-face {
    font-family: medium;
    src: url(../Resource/font/GoogleSans-Medium.otf);
}

@font-face {
    font-family: bold;
    src: url(../Resource/font/GoogleSans-Bold.otf);
}
* {
    font-family: regular;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 20px;
    color: #000000;
    font-family: bold;
}

.title2 {
    font-size: 15px;
    color: #000000;
    font-family: bold;
}

/* css side left  */

.left-bar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    width: 200px;
    border-right: 1px solid #E5E5E5;
    margin-top: 60px;
    transition: 1s;
    overflow: hidden;
    white-space: nowrap;
}

.toggle-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 10px;
    cursor: pointer;
}
.top-left-menu {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 200px;
    border-right: 1px solid #E5E5E5;
}

.list-menu {
    padding-left: 0px;
}

.menu-item {
    height: 44px;
    background-color: #ffffff;
    color: #454545;
    font-size: 13px;
    padding: 12px 0 12px 10px;
    margin-right: 0px !important;
    cursor: pointer;
    flex-wrap: nowrap !important;
}

.menu-item:hover {
    background-color: #e5e5e5;
    color: #000000;
}

.active {
    background-color: #019160;
    color: #ffffff;
    font-family: medium;
}
.icon {
    font-size: 20px;
    padding-right: 10px;
}

/* css right content  */
.right-content{
    margin-left: 200px;
    width: 100%;   
    transition: 1s; 
}
.top-right {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
}
select.title2 {
    margin: 0 10px 0 24px;
    border: none;
}
select.title2:focus {
    outline: none;
}
.search-box option {
    height: 40px;
}
.user-top {
    margin-left: auto;
    margin-right: 0px;
    float: right;
}

.button {
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    color: #ffffff;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
}

.button i {
    padding-right: 10px;
}

.main-content {
    padding: 16px;
    background-color: #E9EBEE;
    margin-top: 60px;
}
/* css input  */
.search-box {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdeff;
}

.search-box input {
    border: none;
    padding: 8px;
    width: 250px;
}
.search-box input:focus {
    outline: none;  
}

::placeholder {
    color: #bbbbbb;
    opacity: 1; /* Firefox */
    font-size: 12px;
}
.search-box input:focus::-webkit-input-placeholder  {color:transparent;}
.search-box input:focus::-moz-placeholder   {color:transparent;}
.search-box input:-moz-placeholder   {color:transparent;}

.search-box img {
    margin-left: 16px;
}
.refresh {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdeff;
    padding: 8px;
    cursor: pointer;
}

.search-form {
    margin-top: 15px;
}
/* css custom select  */
.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    align-items: center;
}
.table {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

/* paging css */
.pageable {
    width: 100%;
    justify-content: space-between;
    background-color: #E9EBEE;
}
.page {
    margin-left: auto;
    margin-right: auto;
}

.pageNum {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
}

.pageNum:hover , .changePage:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: transparent;
}

.changePage {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.buttonMinisize {
    float: right;
    cursor: pointer;
    color: #ffffff;
    background-color: #BBBBBB;
    padding: 0 5px;
}

.hide {
    display: none;
}

.minisize {
    width: 52px;
}

.changeMargin {
    margin-left: 52px !important;
}

/* modal css */
.mymodal{
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-content {
    background-color: #ffffff;
    margin: auto;
    width: 1366px;
    margin-top: 24px;
    padding-left: 24px;
}

.right-modal {
    padding-right: 0 !important;
}

.left-modal {
    text-align: center;
}

.my-modal-title {
    padding: 24px 0 24px 0px;
}
.modal-avatar {
    width: 150px;
    height: 150px;
    border: 1px solid #dbdeff;
    border-radius: 50%;
}

label {
    margin-bottom: 4px !important;
}
.form-group {
    margin-bottom: 16px !important;
}

.main-label {
    margin-bottom: 24px;
}

.border-bottom {
    border-top: 3px solid #019160;
    width: 100px;
}

.my-modal-bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 60px;
    margin-top: 24px;
    background-color: #E9EBEE;
}

.my-modal-bottom div {
    margin: 10px 16px;
}

.cancel {
    height: 40px;
    font-size: 13px;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
}